<!DOCTYPE html>
<html ng-app="contact_app">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="author" content="Miguel Rivero">
    <title>Contacts Book</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body ng-controller="datos_ctlr">
    <div class="container">

        <h1>Contact Book</h1>
        <!--
        <pre>edit mode: {{ edit }}; empty = {{ empty }}</pre>
        -->


        <div class="input-group " style="width:33%; float: left;">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            <input type="text" class="form-control" placeholder="Enter a name" ng-model="search_filter">
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary "  data-toggle="modal" data-target="#EditModal" style="float:right;">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Add new contact
        </button>


        <table class="table table-hover">
            <thead>
                <tr>
                    <th><a href="" ng-click="predicate='name'; reverse=!reverse">Name</a></th>
                    <th><a href="" ng-click="predicate='email'; reverse=!reverse">email</a></th>
                    <th><a href="" ng-click="predicate='phone'; reverse=!reverse">Telephone</a></th>
                    <th><a href="" ng-click="predicate='country'; reverse=!reverse">Country</a></th>
                    <th class="text-center"><a href="" ng-click="predicate= 'favourite'; reverse=!reverse">Favourite</a></th>
                    <th class="text-center"><a href="">edit</a></th>
                    <th class="text-center"><a href="">remove</a></th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in contacts | filter:search_filter | orderBy:predicate:reverse track by contact.id">
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.country }}</td>
                    <td class="text-center" ng-show="contact.favourite" ><span class="glyphicon glyphicon-ok"></span></td>
                    <td class="text-center" ng-hide="contact.favourite" ><span class="glyphicon glyphicon-remove"></span></td>
                    <td class="text-center"><a href=""  data-toggle="modal" data-target="#EditModal" ng-click="edit_contact(contact.id)"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td class="text-center"><a href="" ng-click="remove_contact(contact.id)"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            </tbody>
        </table>
        <h4 class="text-primary" ng-if="empty">Your contact list is empty</h4>
        <hr/>

         <div class="btn-group" role="group" aria-label="options" style="float:right;">
            <!-- Button load test data -->
            <button type="button" class="btn btn-default" ng-click="loadTestData()">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>  Load Test Data
            </button>
            <!-- Button clear list-->
            <button type="button" class="btn btn-default" ng-click="clearList()">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>  Clear List
            </button>
        </div>



        <!-- Modal -->
        <div class="modal fade" id="EditModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="editForm" aria-hidden="true">
          <div class="modal-dialog">
            <form role="form" ng-submit="add(nperson)" style="margin-bottom: 2em">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="editForm">Contact Form</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group">
                            <label for="InputName">Name</label>
                            <input type="text" class="form-control" id="InputName" placeholder="Enter name" ng-model="nperson.name" required>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Email</label>
                            <input type="email" class="form-control" id="InputEmail" placeholder="Enter email" ng-model="nperson.email">
                        </div>
                        <div class="form-group">
                            <label for="InputPhone">Telephone</label>
                            <input type="tel" class="form-control" id="InputPhone" placeholder="Enter Telephone"  ng-model="nperson.phone" required>
                        </div>
                        <div class="form-group">
                            <label for="Inputcountry">Country</label>
                            <select class="form-control" id="Inputcountry" ng-model="nperson.country" required>
                                <option value="">-- choose Country --</option>
                                <option ng-repeat="country in countries">{{ country }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="InputFavourite">Favourite</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="InputFavourite" ng-model="nperson.favourite"> Favourite
                                </label>
                            </div>
                        </div>
                        <div class="text-right">

                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" ng-show="!edit" value="Add">
                    <input type="submit" class="btn btn-primary" ng-hide="!edit" value="Update contact">
                    <input class="btn btn-danger" ng-click="cancel()" value="Cancel" data-dismiss="modal">
                </div>
            </div>
            </form>
          </div>
        </div>
        <!-- end Modal -->

    </div>
<script src="bower/angular/angular.min.js"></script>
<script src="app/contactApp.js"></script>
<script src="app/controller/contact_controller.js"></script>
</body>
</html>